node_modules
dist
.git
.env*
!.env.development.local
!.env.example
!.env.test
!.env.production
README.md
.gitignore
docker-compose.dev.yml
docker-compose.prod.yml
*.log
env/
logs/
coverage/
.nyc_output/
.vscode/
.idea/
*.swp
*.swo
*~